In [5]:
import pandas as pd
from pathlib import Path

In [6]:
headers = [
    "EntryId",
    "AbsoluteTime",
    "RelativeTime",
    "NodeId",
    "Temperature",
    "RelativeHumidity",
    "LightSensorOneWaveLength",
    "LightSensorTwoWaveLength",
    "NumberOfOccupants",
    "ActivityOfOccupants",
    "StateOfDoor",
    "StateOfWindow"]

data_frames = []
locations = [("datasets-location_A/", "A"), ("datasets-location_B/", "B"), ("datasets-location_C/", "C")]
for location in locations:
    path_list = Path(location[0]).glob('**/*.csv')
    for path in path_list:
        new_dataframe = pd.read_csv(str(path), names=headers)
        new_dataframe['Room'] = strings = [location[1] for i in range(len(new_dataframe))]
        data_frames.append(new_dataframe)
df = pd.concat(data_frames, axis=0, ignore_index=True)

In [7]:
df.head()

,EntryId,AbsoluteTime,RelativeTime,NodeId,Temperature,RelativeHumidity,LightSensorOneWaveLength,LightSensorTwoWaveLength,NumberOfOccupants,ActivityOfOccupants,StateOfDoor,StateOfWindow,Room
0,1,1458031648545,1,1,20.48,42.332,185.71,492.2,0,0,0,0,A
1,2,1458031648645,1,4,20.73,39.983,214.29,657.8,0,0,0,0,A
2,3,1458031648795,1,3,20.48,38.687,197.14,542.8,0,0,0,0,A
3,4,1458031651038,3,2,20.89,40.712,174.29,552.0,0,0,0,0,A
4,5,1458031652010,4,4,20.73,39.983,211.43,653.2,0,0,0,0,A

In [8]:
df.to_csv('extracted.csv', index=False)