# Write data to InfluxDB via Python

## Imports:

In [1]:
from datetime import timedelta
from typing import List

import pandas as pd
from influxdb_client import InfluxDBClient

import pandas as pd
import time
import numpy as np

## Make a connection

In [2]:
hostUrl = "http://localhost:8086"
userToken = "mduUGH9w225A0Wn5MWsbexHcx98gnME-JPcUwp8TJhdHL5XLIGfPDHYSgCti3yHKZ_FrHsXjgU5fNOUqDXDj_Q=="
organisationUser = "Student"

In [3]:
client = InfluxDBClient(url=hostUrl, token=userToken, org=organisationUser)

In [4]:
write_api = client.write_api()

## Write data to bucket

In [5]:
bucket = "SmartGridAIV3"
organisation = "Student"

In [6]:
def write_data_to_bucket(bucket, organisation, data):
    write_api.write(bucket, organisation, data)

## Get the data ready

In [7]:
df = pd.read_csv('2019-ETI-EMON-V01-C602ED-1640EF.csv', sep=',')
df.head()

,Timestamp,Actueel verbruik in KW,Actueel oplevering in KW,Totaal vermogen opgewekt in tariff 1 in KWH,Totaal vermogen ontvangen in tariff 1 in KWH,Totaal vermogen opgewekt in tariff 2 in KWH,Totaal vermogen ontvangen in tariff 2 in KWH
0,2020-12-12T01:07:06.784Z,0.088,0,0.006,3582.809,0,2541.74
1,2020-12-12T01:07:26.783Z,0.088,0,0.006,3582.810,0,2541.74
2,2020-12-12T01:07:46.781Z,0.089,0,0.006,3582.810,0,2541.74
3,2020-12-12T01:08:06.788Z,0.088,0,0.006,3582.811,0,2541.74
4,2020-12-12T01:08:26.782Z,0.088,0,0.006,3582.811,0,2541.74

### Data Conversion

In [8]:
def to_datetime(timestamp): 
    return np.datetime64(timestamp)

def to_nano(timestamp):
    return int(timestamp.timestamp()*1000000000)

In [9]:
df['Timestamp'] = df['Timestamp'].apply(to_datetime)
df['Timestamp'] = df['Timestamp'].apply(to_nano)
df.head()

<ipython-input-8-7e0b4a3f1e32>:2: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  return np.datetime64(timestamp)

,Timestamp,Actueel verbruik in KW,Actueel oplevering in KW,Totaal vermogen opgewekt in tariff 1 in KWH,Totaal vermogen ontvangen in tariff 1 in KWH,Totaal vermogen opgewekt in tariff 2 in KWH,Totaal vermogen ontvangen in tariff 2 in KWH
0,1607735226784000000,0.088,0,0.006,3582.809,0,2541.74
1,1607735246783000064,0.088,0,0.006,3582.810,0,2541.74
2,1607735266780999936,0.089,0,0.006,3582.810,0,2541.74
3,1607735286788000000,0.088,0,0.006,3582.811,0,2541.74
4,1607735306782000128,0.088,0,0.006,3582.811,0,2541.74

### Import conversion as clean data

In [10]:
# export as csv
ns_precision = df
ns_precision.to_csv('clean_data.csv', index=False)

In [11]:
#convert csv's to line protocol (with nanosecond precision)df = pd.read_csv("data/BTC_sm_ns.csv")
lines = ["Actual_Data"
         + ",type=BTC"
         + " "
         + "Actual_Usage=" + str(df["Actueel verbruik in KW"][d]) + ","
         + "Actual_Receive=" + str(df["Actueel oplevering in KW"][d]) + ","
         + "Wake_up=" + str(df["Totaal vermogen opgewekt in tariff 1 in KWH"][d]) + ","
         + "Receiving=" + str(df["Totaal vermogen ontvangen in tariff 1 in KWH"][d]) + ","
         + "Power_Wake=" + str(df["Totaal vermogen opgewekt in tariff 2 in KWH"][d]) + ","
         + "Power_Receive=" + str(df["Totaal vermogen ontvangen in tariff 2 in KWH"][d])
         + " " + str(df["Timestamp"][d]) for d in range(len(df))]

In [12]:
thefile = open('chronograf.txt', 'w')
for item in lines:
    thefile.write("%s\n" % item)

## Write data to the given bucket

In [14]:
for item in lines:
    write_data_to_bucket(bucket,organisation,item)