### Load Arduino readings

In [1325]:
import glob
import math
import pandas as pd
import os
import numpy as np
import numpy.ma as ma

In [1326]:
l = [pd.read_csv(filename, names=["Humidity", "Temperature", "TemperatureF", "Light", "eCO2", "TVOC", "DateTime"]) for filename in glob.glob("./data/readings/*.TXT")]
dfreadings = pd.concat(l, axis=0)

In [1327]:
l

[   Humidity  Temperature  TemperatureF  Light  eCO2  TVOC             DateTime
 0      36.9         21.7         71.06  484.0   415     2  2022-12-12T13:02:04
 1      36.8         21.7         71.06  489.0   641    36  2022-12-12T13:03:04
 2      37.6         21.8         71.24  496.0   426     3  2022-12-12T13:04:04,
    Humidity  Temperature  TemperatureF  Light  eCO2  TVOC             DateTime
 0      37.0         21.8         71.24  495.0   400     0  2022-12-12T13:05:31
 1      36.6         21.7         71.06  493.0   432     4  2022-12-12T13:06:31,
     Humidity  Temperature  TemperatureF   Light  eCO2  TVOC  \
 0       35.1         21.7         71.06   841.0   400     0
 1       35.0         21.5         70.70   868.0   400     0
 2       35.0         21.5         70.70  1101.0   400     0
 3       35.2         21.5         70.70  1085.0   400     0
 4       35.1         21.5         70.70  1048.0   405     0
 5       35.1         21.4         70.52  1075.0   411     1
 6       35.3         21.4         70.52  1094.0   424     3
 7       35.3         21.4         70.52  1078.0   420     3
 8       35.3         21.4         70.52  1111.0   424     3
 9       35.4         21.4         70.52  1099.0   435     5
 10      35.4         21.4         70.52  1099.0   456     8
 11      35.4         21.4         70.52  1102.0   502    15
 12      35.5         21.4         70.52  1106.0   530    19
 13      35.5         21.4         70.52  1118.0   584    28
 14      35.5         21.4         70.52   908.0   570    25
 15      35.5         21.4         70.52   992.0   584    28
 16      35.5         21.4         70.52  1130.0   577    26
 17      35.5         21.4         70.52  1130.0   584    28
 18      35.6         21.4         70.52  1118.0   589    28
 19      35.6         21.4         70.52  1097.0   589    28
 20      35.6         21.4         70.52  1096.0   589    28
 21      35.6         21.5         70.70  1059.0   589    28
 22      35.7         21.5         70.70  1092.0   602    30
 23      35.7         21.5         70.70  1115.0  2018   779
 24      35.8         21.5         70.70  1102.0  1652   292
 25      35.8         21.5         70.70   931.0  1404   152
 26      35.9         21.5         70.70   937.0  1212   123
 27      35.8         21.5         70.70   909.0  1181   118
 28      35.7         21.5         70.70   889.0  1118   109

                DateTime
 0   2022-12-12T13:16:29
 1   2022-12-12T13:17:29
 2   2022-12-12T13:18:30
 3   2022-12-12T13:19:30
 4   2022-12-12T13:20:30
 5   2022-12-12T13:21:30
 6   2022-12-12T13:22:30
 7   2022-12-12T13:23:30
 8   2022-12-12T13:24:30
 9   2022-12-12T13:25:30
 10  2022-12-12T13:26:30
 11  2022-12-12T13:27:30
 12  2022-12-12T13:28:30
 13  2022-12-12T13:29:30
 14  2022-12-12T13:30:30
 15  2022-12-12T13:31:30
 16  2022-12-12T13:32:30
 17  2022-12-12T13:33:31
 18  2022-12-12T13:34:31
 19  2022-12-12T13:35:31
 20  2022-12-12T13:36:31
 21  2022-12-12T13:37:31
 22  2022-12-12T13:38:31
 23  2022-12-12T13:39:31
 24  2022-12-12T13:40:31
 25  2022-12-12T13:41:31
 26  2022-12-12T13:42:31
 27  2022-12-12T13:43:31
 28  2022-12-12T13:44:31  ,
     Humidity  Temperature  TemperatureF   Light  eCO2  TVOC  \
 0       35.9         21.5         70.70   908.0   400     0
 1       35.8         21.5         70.70   906.0   400     0
 2       35.7         21.5         70.70   903.0   400     0
 3       35.8         21.5         70.70   907.0   409     1
 4       35.7         21.5         70.70  1042.0   446     7
 5       35.8         21.5         70.70   898.0   441     6
 6       35.7         21.5         70.70   996.0   425     3
 7       35.7         21.5         70.70   901.0   411     1
 8       35.7         21.5         70.70   899.0   402     0
 9       35.7         21.6         70.88   896.0   402     0
 10      35.7         21.6         70.88  1033.0   411     1
 11      35.7         21.6         70.88   947.0   400     0
 12      35.7         21.6         70.88   892.0   400     0
 13      35.7         21.5         70.70   882.0   400     0
 14      35.8         21.5         70.70   878.0   403     0
 15      35.8         21.5         70.70   879.0   400     0
 16      35.8         21.5         70.70   882.0   400     0
 17      35.8         21.5         70.70   940.0   402     0
 18      35.8         21.5         70.70  1068.0   407     1
 19      35.9         21.5         70.70  1127.0   405     0
 20      35.8         21.5         70.70  1127.0   400     0
 21      35.8         21.5         70.70  1130.0   411     1
 22      35.8         21.5         70.70  1122.0   414     2
 23      35.9         21.6         70.88  1117.0   411     1
 24      35.8         21.6         70.88  1121.0   407     1
 25      35.8         21.6         70.88  1117.0   402     0
 26      35.8         21.6         70.88  1106.0   402     0
 27      35.8         21.6         70.88  1094.0   400     0
 28      35.8         21.6         70.88  1082.0   400     0
 29      35.7         21.6         70.88  1075.0   405     0
 30      35.8         21.6         70.88  1069.0   422     3
 31      35.8         21.7         71.06  1042.0   475    11
 32      35.7         21.7         71.06  1030.0   454     8
 33      35.7         21.7         71.06  1028.0   445     6
 34      35.7         21.7         71.06  1009.0   426     3
 35      35.7         21.5         70.70  1009.0   426     3
 36      35.8         21.6         70.88  1023.0   422     3
 37      35.7         21.7         71.06  1019.0   415     2
 38      35.7         21.7         71.06  1015.0   408     1
 39      35.7         21.7         71.06   998.0   405     0
 40      35.7         21.7         71.06   994.0   408     1
 41      35.7         21.7         71.06   813.0   400     0
 42      35.7         21.7         71.06   806.0   408     1
 43      35.7         21.7         71.06   804.0   408     1
 44      35.8         21.7         71.06   798.0   408     1
 45      35.7         21.7         71.06   794.0   405     0
 46      35.8         21.7         71.06   790.0   405     0
 47      35.7         21.7         71.06   787.0   400     0
 48      35.8         21.7         71.06   785.0   400     0
 49      35.8         21.7         71.06   785.0   400     0
 50      35.8         21.7         71.06   788.0   403     0
 51      35.8         21.7         71.06   787.0   408     1
 52      35.8         21.7         71.06   784.0   400     0
 53      35.8         21.7         71.06   781.0   406     0
 54      35.8         21.7         71.06   781.0   406     0
 55      35.8         21.8         71.24   778.0   400     0
 56      35.8         21.7         71.06   774.0   402     0
 57      35.8         21.7         71.06   775.0   400     0
 58      35.8         21.8         71.24   809.0   400     0
 59      35.8         21.8         71.24   776.0   400     0

                DateTime
 0   2022-12-12T13:48:49
 1   2022-12-12T13:49:49
 2   2022-12-12T13:50:50
 3   2022-12-12T13:51:50
 4   2022-12-12T13:52:50
 5   2022-12-12T13:53:50
 6   2022-12-12T13:54:50
 7   2022-12-12T13:55:50
 8   2022-12-12T13:56:50
 9   2022-12-12T13:57:50
 10  2022-12-12T13:58:50
 11  2022-12-12T13:59:50
 12  2022-12-12T14:00:50
 13  2022-12-12T14:01:50
 14  2022-12-12T14:02:50
 15  2022-12-12T14:03:50
 16  2022-12-12T14:04:51
 17  2022-12-12T14:05:51
 18  2022-12-12T14:06:51
 19  2022-12-12T14:07:51
 20  2022-12-12T14:08:51
 21  2022-12-12T14:09:51
 22  2022-12-12T14:10:51
 23  2022-12-12T14:11:51
 24  2022-12-12T14:12:51
 25  2022-12-12T14:13:51
 26  2022-12-12T14:14:51
 27  2022-12-12T14:15:51
 28  2022-12-12T14:16:51
 29  2022-12-12T14:17:51
 30  2022-12-12T14:18:51
 31  2022-12-12T14:19:52
 32  2022-12-12T14:20:52
 33  2022-12-12T14:21:52
 34  2022-12-12T14:22:52
 35  2022-12-12T14:23:52
 36  2022-12-12T14:24:52
 37  2022-12-12T14:25:52
 38  2022-12-12T14:26:52
 39  2022-12-12T14:27:52
 40  2022-12-12T14:28:52
 41  2022-12-12T14:29:52
 42  2022-12-12T14:30:52
 43  2022-12-12T14:31:52
 44  2022-12-12T14:32:52
 45  2022-12-12T14:33:52
 46  2022-12-12T14:34:53
 47  2022-12-12T14:35:53
 48  2022-12-12T14:36:53
 49  2022-12-12T14:37:53
 50  2022-12-12T14:38:53
 51  2022-12-12T14:39:53
 52  2022-12-12T14:40:53
 53  2022-12-12T14:41:53
 54  2022-12-12T14:42:53
 55  2022-12-12T14:43:53
 56  2022-12-12T14:44:53
 57  2022-12-12T14:45:53
 58  2022-12-12T14:46:53
 59  2022-12-12T14:47:53  ,
     Humidity  Temperature  TemperatureF  Light  eCO2  TVOC  \
 0       36.1         19.7         67.46  464.0   400     0
 1       35.7         19.7         67.46  495.0   400     0
 2       35.5         19.7         67.46  518.0   400     0
 3       35.5         19.8         67.64  520.0   400     0
 4       35.4         19.9         67.82  522.0   400     0
 5       35.1         20.0         68.00  485.0   400     0
 6       35.3         20.0         68.00  459.0   400     0
 7       35.0         20.0         68.00  503.0   400     0
 8       35.1         20.1         68.18  512.0   400     0
 9       35.1         20.1         68.18  493.0   400     0
 10      35.0         20.2         68.36  445.0   400     0
 11      35.0         20.3         68.54  448.0   400     0
 12      34.9         20.3         68.54  431.0   400     0
 13      35.0         20.3         68.54  448.0   400     0
 14      35.0         20.3         68.54  406.0   400     0
 15      35.1         20.3         68.54  425.0   407     1
 16      35.4         20.3         68.54  430.0   577    26

                DateTime
 0   2022-12-13T09:56:09
 1   2022-12-13T09:57:09
 2   2022-12-13T09:58:09
 3   2022-12-13T09:59:09
 4   2022-12-13T10:00:09
 5   2022-12-13T10:01:09
 6   2022-12-13T10:02:09
 7   2022-12-13T10:03:09
 8   2022-12-13T10:04:10
 9   2022-12-13T10:05:10
 10  2022-12-13T10:06:10
 11  2022-12-13T10:07:10
 12  2022-12-13T10:08:10
 13  2022-12-13T10:09:10
 14  2022-12-13T10:10:10
 15  2022-12-13T10:11:10
 16  2022-12-13T10:12:10  ,
     Humidity  Temperature  TemperatureF  Light  eCO2  TVOC  \
 0       35.4         20.5         68.90  427.0   400     0
 1       35.5         20.5         68.90  414.0   400     0
 2       35.5         20.5         68.90  433.0   400     0
 3       35.1         20.5         68.90  478.0   400     0
 4       35.0         20.5         68.90  461.0   400     0
 5       34.8         20.5         68.90  451.0   405     0
 6       35.0         20.5         68.90  449.0   400     0
 7       34.8         20.6         69.08  483.0   400     0
 8       35.0         20.6         69.08  527.0   400     0
 9       34.7         20.7         69.26  462.0   403     0
 10      35.2         20.7         69.26  468.0   409     1
 11      34.9         20.7         69.26  494.0   417     2
 12      35.1         20.8         69.44  523.0   417     2
 13      34.9         20.8         69.44  545.0   400     0
 14      34.8         20.8         69.44  541.0   401     0
 15      35.2         20.9         69.62  537.0   408     1
 16      35.1         20.9         69.62  517.0   400     0
 17      35.3         20.9         69.62  485.0   422     3
 18      35.4         20.9         69.62  484.0   400     0
 19      35.2         20.9         69.62  487.0   400     0
 20      34.9         20.9         69.62  560.0   425     3
 21      35.1         21.0         69.80  554.0   408     1
 22      35.1         21.0         69.80  534.0   400     0
 23      34.9         21.0         69.80  469.0   417     2

                DateTime
 0   2022-12-13T10:14:42
 1   2022-12-13T10:15:42
 2   2022-12-13T10:16:42
 3   2022-12-13T10:17:42
 4   2022-12-13T10:18:42
 5   2022-12-13T10:19:43
 6   2022-12-13T10:20:43
 7   2022-12-13T10:21:43
 8   2022-12-13T10:22:43
 9   2022-12-13T10:23:43
 10  2022-12-13T10:24:43
 11  2022-12-13T10:25:43
 12  2022-12-13T10:26:43
 13  2022-12-13T10:27:43
 14  2022-12-13T10:28:43
 15  2022-12-13T10:29:43
 16  2022-12-13T10:30:43
 17  2022-12-13T10:31:43
 18  2022-12-13T10:32:43
 19  2022-12-13T10:33:44
 20  2022-12-13T10:34:44
 21  2022-12-13T10:35:44
 22  2022-12-13T10:36:44
 23  2022-12-13T10:37:44  ,
      Humidity  Temperature  TemperatureF  Light  eCO2  TVOC  \
 0        35.0         21.0         69.80  487.0   400     0
 1        34.7         21.1         69.98  446.0   400     0
 2        34.8         21.1         69.98  446.0   403     0
 3        34.7         21.1         69.98  446.0   402     0
 4        35.1         21.1         69.98  456.0   403     0
 ..        ...          ...           ...    ...   ...   ...
 150      35.0         21.8         71.24  429.0   406     0
 151      35.0         21.8         71.24  428.0   405     0
 152      34.9         21.8         71.24  431.0   401     0
 153      35.0         21.7         71.06  439.0   405     0
 154      35.0         21.7         71.06  441.0   433     5

                 DateTime
 0    2022-12-13T10:40:54
 1    2022-12-13T10:41:54
 2    2022-12-13T10:42:54
 3    2022-12-13T10:43:54
 4    2022-12-13T10:44:54
 ..                   ...
 150  2022-12-13T13:11:04
 151  2022-12-13T13:12:04
 152  2022-12-13T13:13:04
 153  2022-12-13T13:14:04
 154  2022-12-13T13:15:05

 [155 rows x 7 columns],
    Humidity  Temperature  TemperatureF  Light  eCO2  TVOC             DateTime
 0      38.2         20.3         68.54  509.0   400     0  2022-12-13T13:31:17
 1      37.0         20.5         68.90  494.0   400     0  2022-12-13T13:32:17
 2      36.9         20.5         68.90  522.0   400     0  2022-12-13T13:33:17
 3      36.9         20.7         69.26  518.0   400     0  2022-12-13T13:34:17
 4      36.8         20.8         69.44  512.0   400     0  2022-12-13T13:35:17
 5      36.7         20.9         69.62  522.0   400     0  2022-12-13T13:36:17
 6      36.7         21.0         69.80  521.0   400     0  2022-12-13T13:37:17
 7      36.5         21.1         69.98  521.0   400     0  2022-12-13T13:38:17
 8      36.4         21.1         69.98  522.0   400     0  2022-12-13T13:39:17
 9      36.3         21.1         69.98  516.0   400     0  2022-12-13T13:40:17,
     Humidity  Temperature  TemperatureF  Light  eCO2  TVOC  \
 0       35.7         19.5         67.10  580.0   401     0
 1       35.5         19.8         67.64  599.0   400     0
 2       35.0         20.1         68.18  592.0   400     0
 3       34.5         20.3         68.54  590.0   400     0
 4       34.3         20.6         69.08  592.0   400     0
 5       34.2         20.7         69.26  592.0   400     0
 6       34.3         20.8         69.44  591.0   400     0
 7       33.9         20.9         69.62  593.0   405     0
 8       34.3         21.0         69.80  595.0   421     3
 9       34.2         21.1         69.98  594.0   401     0
 10      33.9         21.1         69.98  595.0   401     0
 11      33.7         21.1         69.98  598.0   400     0
 12      33.7         21.2         70.16  598.0   403     0
 13      33.7         21.3         70.34  596.0   400     0
 14      33.6         21.3         70.34  596.0   400     0
 15      33.6         21.3         70.34  599.0   451     7
 16      34.3         21.4         70.52  600.0   405     0
 17      33.6         21.4         70.52  604.0   403     0
 18      33.7         21.4         70.52  602.0   403     0
 19      33.5         21.5         70.70  600.0   409     1
 20      33.4         21.5         70.70  601.0   451     7
 21      34.8         21.5         70.70  602.0   589    28
 22      34.6         21.5         70.70  606.0   405     0
 23      33.6         21.6         70.88  621.0   400     0
 24      33.4         21.6         70.88  629.0   406     0
 25      33.4         21.7         71.06  638.0   402     0
 26      33.4         21.7         71.06  645.0   409     1
 27      33.5         21.7         71.06  648.0   408     1
 28      33.5         21.8         71.24  645.0   407     1

                DateTime
 0   2022-12-13T13:48:28
 1   2022-12-13T13:49:28
 2   2022-12-13T13:50:28
 3   2022-12-13T13:51:28
 4   2022-12-13T13:52:28
 5   2022-12-13T13:53:28
 6   2022-12-13T13:54:28
 7   2022-12-13T13:55:28
 8   2022-12-13T13:56:28
 9   2022-12-13T13:57:28
 10  2022-12-13T13:58:28
 11  2022-12-13T13:59:28
 12  2022-12-13T14:00:28
 13  2022-12-13T14:01:28
 14  2022-12-13T14:02:29
 15  2022-12-13T14:03:29
 16  2022-12-13T14:04:29
 17  2022-12-13T14:05:29
 18  2022-12-13T14:06:29
 19  2022-12-13T14:07:29
 20  2022-12-13T14:08:29
 21  2022-12-13T14:09:29
 22  2022-12-13T14:10:29
 23  2022-12-13T14:11:29
 24  2022-12-13T14:12:29
 25  2022-12-13T14:13:29
 26  2022-12-13T14:14:29
 27  2022-12-13T14:15:29
 28  2022-12-13T14:16:29  ,
     Humidity  Temperature  TemperatureF  Light  eCO2  TVOC  \
 0       33.4         21.9         71.42  653.0   400     0
 1       33.5         22.0         71.60  646.0   400     0
 2       33.5         22.0         71.60  647.0   417     2
 3       33.7         22.1         71.78  650.0   408     1
 4       33.7         22.1         71.78  650.0   418     2
 ..       ...          ...           ...    ...   ...   ...
 70      35.6         22.5         72.50  630.0   405     0
 71      35.1         22.5         72.50  628.0   409     1
 72      35.2         22.5         72.50  628.0   406     0
 73      35.1         22.5         72.50  625.0   456     8
 74      35.8         22.5         72.50  624.0   405     0

                DateTime
 0   2022-12-13T14:19:24
 1   2022-12-13T14:20:24
 2   2022-12-13T14:21:25
 3   2022-12-13T14:22:25
 4   2022-12-13T14:23:25
 ..                  ...
 70  2022-12-13T15:29:29
 71  2022-12-13T15:30:29
 72  2022-12-13T15:31:29
 73  2022-12-13T15:32:29
 74  2022-12-13T15:33:30

 [75 rows x 7 columns],
    Humidity  Temperature  TemperatureF  Light  eCO2  TVOC             DateTime
 0      35.6         20.5         68.90  405.0   400     0  2022-12-14T09:30:33
 1      34.6         20.5         68.90  405.0   400     0  2022-12-14T09:31:33
 2      33.9         20.5         68.90  405.0   400     0  2022-12-14T09:32:33
 3      35.0         20.5         68.90  405.0   418     2  2022-12-14T09:33:33
 4      33.8         20.5         68.90  384.0   400     0  2022-12-14T09:34:33
 5      33.9         20.6         69.08  386.0   424     3  2022-12-14T09:35:33
 6      34.2         20.6         69.08  398.0   400     0  2022-12-14T09:36:33,
     Humidity  Temperature  TemperatureF  Light  eCO2  TVOC  \
 0       37.2         18.2         64.76  626.0   400     0
 1       36.5         18.7         65.66  638.0   400     0
 2       35.8         19.1         66.38  636.0   400     0
 3       35.6         19.4         66.92  636.0   400     0
 4       35.3         19.6         67.28  639.0   403     0
 ..       ...          ...           ...    ...   ...   ...
 93      31.4         21.9         71.42  650.0   401     0
 94      31.5         21.5         70.70  641.0   409     1
 95      31.9         20.9         69.62  633.0   400     0
 96      32.1         20.3         68.54  626.0   407     1
 97      32.4         19.7         67.46  574.0   416     2

                DateTime
 0   2022-12-14T09:59:47
 1   2022-12-14T10:00:47
 2   2022-12-14T10:01:47
 3   2022-12-14T10:02:47
 4   2022-12-14T10:03:47
 ..                  ...
 93  2022-12-14T11:32:53
 94  2022-12-14T11:33:53
 95  2022-12-14T11:34:53
 96  2022-12-14T11:35:54
 97  2022-12-14T11:36:54

 [98 rows x 7 columns],
     Humidity  Temperature  TemperatureF  Light  eCO2  TVOC  \
 0       32.7         19.0         66.20  617.0   413     1
 1       32.9         18.9         66.02  602.0   414     2
 2       33.0         18.7         65.66  601.0   414     2
 3       32.9         18.4         65.12  598.0   400     0
 4       33.0         18.2         64.76  596.0   424     3
 5       33.2         17.8         64.04  593.0   400     0
 6       33.2         17.6         63.68  590.0   403     0
 7       33.4         17.4         63.32  586.0   409     1
 8       33.4         17.2         62.96  587.0   401     0
 9       33.6         16.9         62.42  585.0   405     0

In [1328]:
dfreadings.head(n=100)

    Humidity  Temperature  TemperatureF  Light eCO2 TVOC             DateTime
0       36.9         21.7         71.06  484.0  415    2  2022-12-12T13:02:04
1       36.8         21.7         71.06  489.0  641   36  2022-12-12T13:03:04
2       37.6         21.8         71.24  496.0  426    3  2022-12-12T13:04:04
0       37.0         21.8         71.24  495.0  400    0  2022-12-12T13:05:31
1       36.6         21.7         71.06  493.0  432    4  2022-12-12T13:06:31
..       ...          ...           ...    ...  ...  ...                  ...
1       35.7         19.7         67.46  495.0  400    0  2022-12-13T09:57:09
2       35.5         19.7         67.46  518.0  400    0  2022-12-13T09:58:09
3       35.5         19.8         67.64  520.0  400    0  2022-12-13T09:59:09
4       35.4         19.9         67.82  522.0  400    0  2022-12-13T10:00:09
5       35.1         20.0         68.00  485.0  400    0  2022-12-13T10:01:09

[100 rows x 7 columns]

### Load HRV data

In [1329]:
def getHRVDataPerUser(txtfolder):

    ## txtfolder = r'./Data/HRV/Niek_Snijders/' #Change to your folder path

    #Find the textfiles
    textfiles = []
    for root, folder, files in os.walk(txtfolder):
        for file in files:
            if file.endswith('.txt'):
                fullname = os.path.join(root, file)
                textfiles.append(fullname)
    textfiles.sort() #Sort the filesnames

    #Read each of them to a dataframe
    for filenum, file in enumerate(textfiles, 1):
        if filenum==1:
            df = pd.read_csv(file, names=['RR'], delim_whitespace=True)
            date = os.path.basename(file).split(".")[0].split(" ")[0]
            time = os.path.basename(file).split(".")[0].split(" ")[1]
            split_date = date.split("-")
            split_time = time.split("-")
            df['DateTime']=split_date[2]+"-"+split_date[1]+"-"+split_date[0]+ " " + split_time[0] + ":" + split_time[1] + ":" + split_time[2]
            df['DateTime'] = pd.to_datetime(df['DateTime'])
        else:
            tempdf = pd.read_csv(file, names=['RR'], delim_whitespace=True)
            date = os.path.basename(file).split(".")[0].split(" ")[0]
            time = os.path.basename(file).split(".")[0].split(" ")[1]
            split_date = date.split("-")
            split_time = time.split("-")
            tempdf['DateTime']=split_date[2]+"-"+split_date[1]+"-"+split_date[0]+ " " + split_time[0] + ":" + split_time[1] + ":" + split_time[2]
            tempdf['DateTime'] = pd.to_datetime(tempdf['DateTime'])
            df = pd.concat([df, tempdf], ignore_index=True)

    return df

In [1330]:
def calculateHRV(df):
    array = df[["RR"]].to_numpy()
    sumOfSuccessiveDifference = 0.0
    array = array[((array <= 2000))]
    for idx, x in enumerate(array):
        if x != array[-1] :
            sumOfSuccessiveDifference += (array[idx] - array[idx + 1])**2
            df['RMSSD'] = math.sqrt(sumOfSuccessiveDifference/len(array))
    return df

#### Niek

In [1331]:
dfHRVNiek = getHRVDataPerUser(r'./Data/HRV/Niek_Snijders')

In [1332]:
dfHRVNiek = dfHRVNiek.groupby(["DateTime"]).apply(lambda x: calculateHRV(x))

In [1333]:
dfHRVNiek["User Name"] = "niek@email.com"

In [1334]:
dfHRVNiek.head()

    RR            DateTime      RMSSD       User Name
0  776 2022-11-17 15:17:06  42.056698  niek@email.com
1  758 2022-11-17 15:17:06  42.056698  niek@email.com
2  737 2022-11-17 15:17:06  42.056698  niek@email.com
3  711 2022-11-17 15:17:06  42.056698  niek@email.com
4  738 2022-11-17 15:17:06  42.056698  niek@email.com

In [1335]:
dfHRVNiek = dfHRVNiek.drop(["RR"], axis = 1)

In [1336]:
dfHRVNiek.drop_duplicates(keep='first', inplace=True)

In [1337]:
dfHRVNiek.reset_index(inplace=True)
dfHRVNiek = dfHRVNiek.drop(["index"], axis = 1)

In [1338]:
dfHRVNiek.head(n=100)

              DateTime      RMSSD       User Name
0  2022-11-17 15:17:06  42.056698  niek@email.com
1  2022-11-18 11:00:00  42.440603  niek@email.com
2  2022-11-24 12:01:05  45.918517  niek@email.com
3  2022-11-30 11:07:17  36.091961  niek@email.com
4  2022-11-30 11:49:08  52.136928  niek@email.com
5  2022-01-12 14:35:12  92.179360  niek@email.com
6  2022-06-12 15:52:08  63.953953  niek@email.com
7  2022-06-12 15:54:01  78.683995  niek@email.com
8  2022-07-12 10:19:15  45.998991  niek@email.com
9  2022-07-12 12:44:46  59.847481  niek@email.com
10 2022-07-12 13:57:29  48.507507  niek@email.com
11 2022-12-13 10:26:14  16.066151  niek@email.com
12 2022-12-13 10:56:02  33.618633  niek@email.com
13 2022-12-13 11:27:46  32.674641  niek@email.com
14 2022-12-13 11:52:09  54.604008  niek@email.com
15 2022-12-13 12:28:28  43.756428  niek@email.com
16 2022-12-13 12:58:00  26.342668  niek@email.com
17 2022-12-13 13:52:15  34.153440  niek@email.com
18 2022-12-13 14:04:21  24.926990  niek@email.com
19 2022-12-13 14:17:49  39.951329  niek@email.com
20 2022-12-13 14:35:56  50.845947  niek@email.com
21 2022-12-13 14:45:55  50.564288  niek@email.com
22 2022-12-13 14:56:56  41.046141  niek@email.com
23 2022-12-13 15:26:36  35.518607  niek@email.com
24 2022-12-14 10:06:04  16.766240  niek@email.com
25 2022-12-14 10:35:41  27.805447  niek@email.com
26 2022-12-14 11:15:22  30.670222  niek@email.com
27 2022-12-14 11:26:42  57.840243  niek@email.com
28 2022-12-14 11:53:25  59.473629  niek@email.com
29 2022-12-14 12:11:48  54.226662  niek@email.com
30 2022-12-14 12:39:25  90.512179  niek@email.com
31 2022-12-14 12:53:47  52.474980  niek@email.com
32 2022-12-14 13:05:53  47.983085  niek@email.com

#### Job

In [1339]:
dfHRVJob = getHRVDataPerUser(r'./Data/HRV/jobhaast@hotmail.com')

In [1340]:
dfHRVJob = dfHRVJob.groupby(["DateTime"]).apply(lambda x: calculateHRV(x))

In [1341]:
dfHRVJob["User Name"] = "job@email.com"

In [1342]:
dfHRVJob = dfHRVJob.drop(["RR"], axis = 1)

In [1343]:
dfHRVJob.drop_duplicates(keep='first', inplace=True)

In [1344]:
dfHRVJob.reset_index(inplace=True)
dfHRVJob = dfHRVJob.drop(["index"], axis = 1)

In [1345]:
dfHRVJob.head(n=100)

              DateTime       RMSSD      User Name
0  2022-06-12 14:38:47   57.882491  job@email.com
1  2022-06-12 14:41:41   82.642453  job@email.com
2  2022-06-12 14:49:55  129.602890  job@email.com
3  2022-07-12 10:30:46   58.791368  job@email.com
4  2022-07-12 13:11:45   67.209265  job@email.com
5  2022-07-12 13:51:22  105.023172  job@email.com
6  2022-07-12 14:01:30   27.250164  job@email.com
7  2022-12-12 13:28:43  103.473443  job@email.com
8  2022-12-12 13:42:22   83.071749  job@email.com
9  2022-12-12 13:55:26  118.254976  job@email.com
10 2022-12-12 14:02:11   88.125138  job@email.com
11 2022-12-12 14:11:18   78.019566  job@email.com
12 2022-12-12 14:21:55   56.834555  job@email.com
13 2022-12-12 14:34:16  102.154067  job@email.com
14 2022-12-12 14:45:45   50.777418  job@email.com
15 2022-12-13 10:04:53   20.409492  job@email.com
16 2022-12-13 10:30:28   30.377623  job@email.com
17 2022-12-13 10:42:47   46.289425  job@email.com
18 2022-12-13 10:57:28   38.302869  job@email.com
19 2022-12-13 11:13:49   71.831891  job@email.com
20 2022-12-13 11:26:12   41.213666  job@email.com
21 2022-12-13 11:37:19   47.644108  job@email.com
22 2022-12-13 11:46:08   84.984259  job@email.com
23 2022-12-13 12:27:19   51.829427  job@email.com
24 2022-12-13 12:37:10  165.660569  job@email.com
25 2022-12-13 12:50:10   47.992830  job@email.com
26 2022-12-13 13:52:14   59.237251  job@email.com
27 2022-12-13 14:01:52   98.752073  job@email.com
28 2022-12-13 14:14:07   78.010505  job@email.com
29 2022-12-13 14:26:34  104.078229  job@email.com
30 2022-12-13 14:35:44   72.614960  job@email.com
31 2022-12-13 14:45:44   56.240311  job@email.com
32 2022-12-13 14:54:55   78.988220  job@email.com
33 2022-12-13 15:25:03  123.443605  job@email.com
34 2022-12-13 15:30:14   68.731361  job@email.com
35 2022-12-14 10:07:50   30.933505  job@email.com
36 2022-12-14 10:26:50   37.148351  job@email.com
37 2022-12-14 10:41:42   53.382847  job@email.com
38 2022-12-14 10:51:21   84.470503  job@email.com
39 2022-12-14 11:04:24   84.590508  job@email.com
40 2022-12-14 11:15:10  143.922415  job@email.com
41 2022-12-14 11:26:32  156.477408  job@email.com
42 2022-12-14 11:40:35  124.155699  job@email.com
43 2022-12-14 11:53:05  148.021125  job@email.com
44 2022-12-14 12:05:41  110.370205  job@email.com
45 2022-12-14 12:11:01   68.443638  job@email.com
46 2022-12-14 12:19:41   54.091226  job@email.com
47 2022-12-14 12:34:39   46.883359  job@email.com
48 2022-12-14 12:39:13   62.226877  job@email.com
49 2022-12-14 12:53:42   47.472529  job@email.com
50 2022-12-14 13:07:00   42.759202  job@email.com
51 2022-12-14 13:24:09   53.553011  job@email.com

#### Stefan

In [1346]:
dfHRVStefan = getHRVDataPerUser(r'./Data/HRV/s.jaspers1997@gmail.com')

In [1347]:
dfHRVStefan = dfHRVStefan.groupby(["DateTime"]).apply(lambda x: calculateHRV(x))

In [1348]:
dfHRVStefan["User Name"] = "stefan@jaspers.nl"

In [1349]:
dfHRVStefan = dfHRVStefan.drop(["RR"], axis = 1)

In [1350]:
dfHRVStefan.drop_duplicates(keep='first', inplace=True)

In [1351]:
dfHRVStefan.reset_index(inplace=True)
dfHRVStefan = dfHRVStefan.drop(["index"], axis = 1)

In [1352]:
dfHRVStefan.head(n=100)

              DateTime       RMSSD          User Name
0  2022-07-12 10:25:25   42.801957  stefan@jaspers.nl
1  2022-07-12 13:54:44   61.043251  stefan@jaspers.nl
2  2022-07-12 13:59:15  120.665735  stefan@jaspers.nl
3  2022-12-12 13:24:39   48.239248  stefan@jaspers.nl
4  2022-12-12 13:52:36   56.135213  stefan@jaspers.nl
5  2022-12-12 14:34:22   74.210511  stefan@jaspers.nl
6  2022-12-12 14:47:10   65.346911  stefan@jaspers.nl
7  2022-12-14 11:27:23  154.013215  stefan@jaspers.nl
8  2022-12-14 11:53:47   27.794275  stefan@jaspers.nl
9  2022-12-14 12:10:59   39.124237  stefan@jaspers.nl
10 2022-12-14 13:06:13   44.089555  stefan@jaspers.nl

#### Noah

In [1353]:
dfHRVNoah = getHRVDataPerUser(r'./Data/HRV/Noah')

In [1354]:
dfHRVNoah = dfHRVNoah.groupby(["DateTime"]).apply(lambda x: calculateHRV(x))

In [1355]:
dfHRVNoah["User Name"] = "Noah@email.com"

In [1356]:
dfHRVNoah = dfHRVNoah.drop(["RR"], axis = 1)

In [1357]:
dfHRVNoah.drop_duplicates(keep='first', inplace=True)

In [1358]:
dfHRVNoah.reset_index(inplace=True)
dfHRVNoah = dfHRVNoah.drop(["index"], axis = 1)

In [1359]:
dfHRVNoah.head(n=100)

              DateTime       RMSSD       User Name
0  2022-07-12 14:11:10   53.089728  Noah@email.com
1  2022-07-12 14:14:30  174.320772  Noah@email.com
2  2022-07-12 14:18:06  127.283935  Noah@email.com
3  2022-07-12 14:19:29  142.566617  Noah@email.com
4  2022-12-12 13:28:19   30.287191  Noah@email.com
5  2022-12-12 13:31:19   25.434576  Noah@email.com
6  2022-12-12 13:34:52   26.282239  Noah@email.com
7  2022-12-12 13:39:23   31.830500  Noah@email.com
8  2022-12-12 13:49:53   38.763914  Noah@email.com
9  2022-12-12 13:54:46   37.011822  Noah@email.com
10 2022-12-12 14:00:28   61.592007  Noah@email.com
11 2022-12-12 14:14:26   47.601635  Noah@email.com
12 2022-12-12 14:16:24   45.972951  Noah@email.com
13 2022-12-12 14:22:10   28.518073  Noah@email.com
14 2022-12-12 14:24:06   52.874998  Noah@email.com
15 2022-12-12 14:34:05   51.388074  Noah@email.com
16 2022-12-12 14:39:18   44.041139  Noah@email.com
17 2022-12-12 14:46:48   56.566671  Noah@email.com
18 2022-12-15 10:37:29   83.638847  Noah@email.com
19 2022-12-15 11:29:07   40.218846  Noah@email.com
20 2022-12-15 11:40:09   38.792738  Noah@email.com
21 2022-12-15 11:53:37   62.373548  Noah@email.com
22 2022-12-15 12:04:08   55.903131  Noah@email.com
23 2022-12-15 12:13:27   58.702862  Noah@email.com
24 2022-12-15 12:23:37   82.127476  Noah@email.com
25 2022-12-15 12:44:42   42.560181  Noah@email.com
26 2022-12-15 12:55:16   92.913611  Noah@email.com
27 2022-12-15 13:03:53  113.944040  Noah@email.com
28 2022-12-15 13:14:55   36.389899  Noah@email.com
29 2022-12-15 13:24:37   46.457391  Noah@email.com
30 2022-12-15 13:35:02   73.587735  Noah@email.com
31 2022-12-15 13:49:27   55.082206  Noah@email.com
32 2022-12-15 13:58:07   35.985431  Noah@email.com
33 2022-12-15 14:04:54   37.492575  Noah@email.com
34 2022-12-15 14:13:33   46.790399  Noah@email.com
35 2022-12-15 14:30:09   53.977299  Noah@email.com
36 2022-12-15 14:42:08   44.108902  Noah@email.com

### Load selfreporting data

In [1360]:
import pandas as pd
l = [pd.read_csv(filename) for filename in glob.glob("./data/selfreporting/*.csv")]
dfself = pd.concat(l, axis=0)

In [1361]:
dfself.head(n=100)

,Air Qualityall Good,Beverage,Cloth 1,Cloth 2,Cloth 3,Cloth 4,Cloth 5,Cloth 6,Cloth 7,Duration Of Location,...,Location,Mode Of Transport,Mood,Smelly,Stuffy,Suffocating,Thermal Comfort,Thermal Preference,Timestamp,User Name
0,YES,2,NO,YES,YES,NO,NO,NO,NO,1-2 hours,...,LA Explora floor 2,1,3,NO,NO,NO,5,1,2022/12/7 2022-12-07 10:42:04.299,job@email.com
1,YES,1,NO,YES,YES,NO,NO,NO,NO,more than 3 hours,...,LA402,1,3,NO,NO,NO,4,2,2022/12/7 2022-12-07 13:51:00.415,job@email.com
2,YES,2,NO,YES,YES,NO,NO,NO,NO,more than 3 hours,...,LA402,1,4,NO,NO,NO,5,2,2022/12/7 2022-12-07 14:04:39.307,job@email.com
3,YES,2,NO,NO,YES,NO,NO,NO,YES,more than 3 hours,...,LA222,1,4,NO,NO,NO,5,1,2022/12/12 2022-12-12 13:34:15.607,job@email.com
4,YES,2,NO,NO,YES,NO,NO,NO,YES,more than 3 hours,...,LA223,1,4,NO,NO,NO,5,1,2022/12/12 2022-12-12 13:42:56.603,job@email.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,YES,1,NO,NO,YES,NO,NO,YES,NO,1-2 hours,...,LD025,4,5,NO,NO,NO,5,1,2022/12/14 2022-12-14 11:54:46.815,stefan@jaspers.nl
5,YES,2,NO,NO,YES,NO,NO,YES,NO,1-2 hours,...,LD025,4,5,NO,NO,NO,6,1,2022/12/14 2022-12-14 12:11:57.538,stefan@jaspers.nl
6,YES,2,NO,NO,YES,NO,NO,YES,NO,1-2 hours,...,LD025,4,4,NO,NO,NO,3,2,2022/12/14 2022-12-14 12:42:24.715,stefan@jaspers.nl
7,YES,3,NO,NO,YES,NO,NO,YES,NO,more than 3 hours,...,LD025,4,5,NO,NO,NO,2,3,2022/12/14 2022-12-14 13:07:28.476,stefan@jaspers.nl
8,YES,3,NO,NO,YES,NO,NO,YES,NO,more than 3 hours,...,LD025,4,4,NO,NO,NO,3,2,2022/12/14 2022-12-14 13:28:11.363,stefan@jaspers.nl

# Data preprocessing

In [1362]:
dfreadings['DateTime'] = pd.to_datetime(dfreadings['DateTime'])

In [1363]:
datetime = dfself['Timestamp'].str.split(".",n = 1, expand = True)
dfself['Timestamp'] = datetime[0]
datetime = dfself['Timestamp'].str.split(" ",n = 1, expand = True)
datetime
dfself['Timestamp'] = datetime[1]

In [1364]:
dfself['DateTime'] = pd.to_datetime(dfself['Timestamp'])

### Merge data

In [1365]:
## Merge different hrv dataframes
dfHRV = pd.concat([dfHRVNiek, dfHRVJob, dfHRVStefan, dfHRVNoah], axis=0)
dfHRV.head(n=100)

              DateTime       RMSSD          User Name
0  2022-11-17 15:17:06   42.056698     niek@email.com
1  2022-11-18 11:00:00   42.440603     niek@email.com
2  2022-11-24 12:01:05   45.918517     niek@email.com
3  2022-11-30 11:07:17   36.091961     niek@email.com
4  2022-11-30 11:49:08   52.136928     niek@email.com
..                 ...         ...                ...
10 2022-12-14 13:06:13   44.089555  stefan@jaspers.nl
0  2022-07-12 14:11:10   53.089728     Noah@email.com
1  2022-07-12 14:14:30  174.320772     Noah@email.com
2  2022-07-12 14:18:06  127.283935     Noah@email.com
3  2022-07-12 14:19:29  142.566617     Noah@email.com

[100 rows x 3 columns]

In [1366]:
newdf = pd.merge_asof(dfHRV.sort_values('DateTime'),dfself.sort_values('DateTime'),on='DateTime', by='User Name' , tolerance=pd.Timedelta('420s'),direction='nearest')

In [1367]:
## Merge df for readings with selfreporting df on DateTime and get the nearest
df=pd.merge_asof(newdf.sort_values('DateTime'),dfreadings.sort_values('DateTime'),on='DateTime', tolerance=pd.Timedelta('120s'),direction='nearest')

In [1368]:
newdf.head(n=100)

,DateTime,RMSSD,User Name,Air Qualityall Good,Beverage,Cloth 1,Cloth 2,Cloth 3,Cloth 4,Cloth 5,...,Humid,Location,Mode Of Transport,Mood,Smelly,Stuffy,Suffocating,Thermal Comfort,Thermal Preference,Timestamp
0,2022-01-12 14:35:12,92.179360,niek@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-12 14:38:47,57.882491,job@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-12 14:41:41,82.642453,job@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-12 14:49:55,129.602890,job@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-12 15:52:08,63.953953,niek@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-12-14 11:27:23,154.013215,stefan@jaspers.nl,YES,1.0,NO,NO,YES,NO,NO,...,NO,LD025,4.0,4.0,NO,NO,NO,3.0,2.0,2022-12-14 11:28:30
96,2022-12-14 11:40:35,124.155699,job@email.com,YES,2.0,NO,YES,YES,NO,NO,...,NO,LD025,1.0,2.0,NO,NO,NO,5.0,1.0,2022-12-14 11:41:11
97,2022-12-14 11:53:05,148.021125,job@email.com,YES,2.0,NO,YES,YES,NO,NO,...,NO,LD025,1.0,1.0,NO,NO,NO,6.0,1.0,2022-12-14 11:53:51
98,2022-12-14 11:53:25,59.473629,niek@email.com,YES,2.0,NO,NO,YES,NO,NO,...,NO,LD025,1.0,2.0,NO,NO,NO,6.0,1.0,2022-12-14 11:54:04
99,2022-12-14 11:53:47,27.794275,stefan@jaspers.nl,YES,1.0,NO,NO,YES,NO,NO,...,NO,LD025,4.0,5.0,NO,NO,NO,5.0,1.0,2022-12-14 11:54:46

In [1369]:
df.head(n=200)

,DateTime,RMSSD,User Name,Air Qualityall Good,Beverage,Cloth 1,Cloth 2,Cloth 3,Cloth 4,Cloth 5,...,Suffocating,Thermal Comfort,Thermal Preference,Timestamp,Humidity,Temperature,TemperatureF,Light,eCO2,TVOC
0,2022-01-12 14:35:12,92.179360,niek@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-12 14:38:47,57.882491,job@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-12 14:41:41,82.642453,job@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-12 14:49:55,129.602890,job@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-12 15:52:08,63.953953,niek@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,2022-12-15 13:58:07,35.985431,Noah@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,2022-12-15 14:04:54,37.492575,Noah@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,2022-12-15 14:13:33,46.790399,Noah@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,2022-12-15 14:30:09,53.977299,Noah@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,2022-12-15 14:42:08,44.108902,Noah@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1370]:
def bool_to_num(val):
    if val.lower() == "yes": return 1
    return 0

In [1371]:
columns = ["Air Qualityall Good", "Smelly", "Stuffy", "Suffocating", "Humid"]
for i in columns:
    df[i] = df[i].apply(lambda x: bool_to_num(x))

for i in range(1, 8):
    column = f"Cloth {i}"
    df[column] = df[column].apply(lambda x: bool_to_num(x))

dummies = ["Duration Of Location", "Eat Recent", "Location"]
df = pd.get_dummies(df, columns=dummies)
df

AttributeError: 'float' object has no attribute 'lower'