### Load Arduino readings

In [1]:
import glob
import math

import pandas as pd
l = [pd.read_csv(filename, names=["Humidity", "Temperature", "TemperatureF", "Lux", "Test","Ts", "DateTime"]) for filename in glob.glob("./data/readings/*.TXT")]
dfreadings = pd.concat(l, axis=0)

In [2]:
l

[   Humidity  Temperature  TemperatureF    Lux  Test  Ts             DateTime
 0      36.9         21.7         71.06  484.0   415   2  2022-12-12T13:02:04
 1      36.8         21.7         71.06  489.0   641  36  2022-12-12T13:03:04
 2      37.6         21.8         71.24  496.0   426   3  2022-12-12T13:04:04,
    Humidity  Temperature  TemperatureF    Lux  Test  Ts             DateTime
 0      37.0         21.8         71.24  495.0   400   0  2022-12-12T13:05:31
 1      36.6         21.7         71.06  493.0   432   4  2022-12-12T13:06:31,
     Humidity  Temperature  TemperatureF     Lux  Test   Ts  \
 0       35.1         21.7         71.06   841.0   400    0
 1       35.0         21.5         70.70   868.0   400    0
 2       35.0         21.5         70.70  1101.0   400    0
 3       35.2         21.5         70.70  1085.0   400    0
 4       35.1         21.5         70.70  1048.0   405    0
 5       35.1         21.4         70.52  1075.0   411    1
 6       35.3         21.4         70.52  1094.0   424    3
 7       35.3         21.4         70.52  1078.0   420    3
 8       35.3         21.4         70.52  1111.0   424    3
 9       35.4         21.4         70.52  1099.0   435    5
 10      35.4         21.4         70.52  1099.0   456    8
 11      35.4         21.4         70.52  1102.0   502   15
 12      35.5         21.4         70.52  1106.0   530   19
 13      35.5         21.4         70.52  1118.0   584   28
 14      35.5         21.4         70.52   908.0   570   25
 15      35.5         21.4         70.52   992.0   584   28
 16      35.5         21.4         70.52  1130.0   577   26
 17      35.5         21.4         70.52  1130.0   584   28
 18      35.6         21.4         70.52  1118.0   589   28
 19      35.6         21.4         70.52  1097.0   589   28
 20      35.6         21.4         70.52  1096.0   589   28
 21      35.6         21.5         70.70  1059.0   589   28
 22      35.7         21.5         70.70  1092.0   602   30
 23      35.7         21.5         70.70  1115.0  2018  779
 24      35.8         21.5         70.70  1102.0  1652  292
 25      35.8         21.5         70.70   931.0  1404  152
 26      35.9         21.5         70.70   937.0  1212  123
 27      35.8         21.5         70.70   909.0  1181  118
 28      35.7         21.5         70.70   889.0  1118  109

                DateTime
 0   2022-12-12T13:16:29
 1   2022-12-12T13:17:29
 2   2022-12-12T13:18:30
 3   2022-12-12T13:19:30
 4   2022-12-12T13:20:30
 5   2022-12-12T13:21:30
 6   2022-12-12T13:22:30
 7   2022-12-12T13:23:30
 8   2022-12-12T13:24:30
 9   2022-12-12T13:25:30
 10  2022-12-12T13:26:30
 11  2022-12-12T13:27:30
 12  2022-12-12T13:28:30
 13  2022-12-12T13:29:30
 14  2022-12-12T13:30:30
 15  2022-12-12T13:31:30
 16  2022-12-12T13:32:30
 17  2022-12-12T13:33:31
 18  2022-12-12T13:34:31
 19  2022-12-12T13:35:31
 20  2022-12-12T13:36:31
 21  2022-12-12T13:37:31
 22  2022-12-12T13:38:31
 23  2022-12-12T13:39:31
 24  2022-12-12T13:40:31
 25  2022-12-12T13:41:31
 26  2022-12-12T13:42:31
 27  2022-12-12T13:43:31
 28  2022-12-12T13:44:31  ,
     Humidity  Temperature  TemperatureF     Lux  Test  Ts             DateTime
 0       35.9         21.5         70.70   908.0   400   0  2022-12-12T13:48:49
 1       35.8         21.5         70.70   906.0   400   0  2022-12-12T13:49:49
 2       35.7         21.5         70.70   903.0   400   0  2022-12-12T13:50:50
 3       35.8         21.5         70.70   907.0   409   1  2022-12-12T13:51:50
 4       35.7         21.5         70.70  1042.0   446   7  2022-12-12T13:52:50
 5       35.8         21.5         70.70   898.0   441   6  2022-12-12T13:53:50
 6       35.7         21.5         70.70   996.0   425   3  2022-12-12T13:54:50
 7       35.7         21.5         70.70   901.0   411   1  2022-12-12T13:55:50
 8       35.7         21.5         70.70   899.0   402   0  2022-12-12T13:56:50
 9       35.7         21.6         70.88   896.0   402   0  2022-12-12T13:57:50
 10      35.7         21.6         70.88  1033.0   411   1  2022-12-12T13:58:50
 11      35.7         21.6         70.88   947.0   400   0  2022-12-12T13:59:50
 12      35.7         21.6         70.88   892.0   400   0  2022-12-12T14:00:50
 13      35.7         21.5         70.70   882.0   400   0  2022-12-12T14:01:50
 14      35.8         21.5         70.70   878.0   403   0  2022-12-12T14:02:50
 15      35.8         21.5         70.70   879.0   400   0  2022-12-12T14:03:50
 16      35.8         21.5         70.70   882.0   400   0  2022-12-12T14:04:51
 17      35.8         21.5         70.70   940.0   402   0  2022-12-12T14:05:51
 18      35.8         21.5         70.70  1068.0   407   1  2022-12-12T14:06:51
 19      35.9         21.5         70.70  1127.0   405   0  2022-12-12T14:07:51
 20      35.8         21.5         70.70  1127.0   400   0  2022-12-12T14:08:51
 21      35.8         21.5         70.70  1130.0   411   1  2022-12-12T14:09:51
 22      35.8         21.5         70.70  1122.0   414   2  2022-12-12T14:10:51
 23      35.9         21.6         70.88  1117.0   411   1  2022-12-12T14:11:51
 24      35.8         21.6         70.88  1121.0   407   1  2022-12-12T14:12:51
 25      35.8         21.6         70.88  1117.0   402   0  2022-12-12T14:13:51
 26      35.8         21.6         70.88  1106.0   402   0  2022-12-12T14:14:51
 27      35.8         21.6         70.88  1094.0   400   0  2022-12-12T14:15:51
 28      35.8         21.6         70.88  1082.0   400   0  2022-12-12T14:16:51
 29      35.7         21.6         70.88  1075.0   405   0  2022-12-12T14:17:51
 30      35.8         21.6         70.88  1069.0   422   3  2022-12-12T14:18:51
 31      35.8         21.7         71.06  1042.0   475  11  2022-12-12T14:19:52
 32      35.7         21.7         71.06  1030.0   454   8  2022-12-12T14:20:52
 33      35.7         21.7         71.06  1028.0   445   6  2022-12-12T14:21:52
 34      35.7         21.7         71.06  1009.0   426   3  2022-12-12T14:22:52
 35      35.7         21.5         70.70  1009.0   426   3  2022-12-12T14:23:52
 36      35.8         21.6         70.88  1023.0   422   3  2022-12-12T14:24:52
 37      35.7         21.7         71.06  1019.0   415   2  2022-12-12T14:25:52
 38      35.7         21.7         71.06  1015.0   408   1  2022-12-12T14:26:52
 39      35.7         21.7         71.06   998.0   405   0  2022-12-12T14:27:52
 40      35.7         21.7         71.06   994.0   408   1  2022-12-12T14:28:52
 41      35.7         21.7         71.06   813.0   400   0  2022-12-12T14:29:52
 42      35.7         21.7         71.06   806.0   408   1  2022-12-12T14:30:52
 43      35.7         21.7         71.06   804.0   408   1  2022-12-12T14:31:52
 44      35.8         21.7         71.06   798.0   408   1  2022-12-12T14:32:52
 45      35.7         21.7         71.06   794.0   405   0  2022-12-12T14:33:52
 46      35.8         21.7         71.06   790.0   405   0  2022-12-12T14:34:53
 47      35.7         21.7         71.06   787.0   400   0  2022-12-12T14:35:53
 48      35.8         21.7         71.06   785.0   400   0  2022-12-12T14:36:53
 49      35.8         21.7         71.06   785.0   400   0  2022-12-12T14:37:53
 50      35.8         21.7         71.06   788.0   403   0  2022-12-12T14:38:53
 51      35.8         21.7         71.06   787.0   408   1  2022-12-12T14:39:53
 52      35.8         21.7         71.06   784.0   400   0  2022-12-12T14:40:53
 53      35.8         21.7         71.06   781.0   406   0  2022-12-12T14:41:53
 54      35.8         21.7         71.06   781.0   406   0  2022-12-12T14:42:53
 55      35.8         21.8         71.24   778.0   400   0  2022-12-12T14:43:53
 56      35.8         21.7         71.06   774.0   402   0  2022-12-12T14:44:53
 57      35.8         21.7         71.06   775.0   400   0  2022-12-12T14:45:53
 58      35.8         21.8         71.24   809.0   400   0  2022-12-12T14:46:53
 59      35.8         21.8         71.24   776.0   400   0  2022-12-12T14:47:53,
     Humidity  Temperature  TemperatureF    Lux  Test  Ts             DateTime
 0       36.1         19.7         67.46  464.0   400   0  2022-12-13T09:56:09
 1       35.7         19.7         67.46  495.0   400   0  2022-12-13T09:57:09
 2       35.5         19.7         67.46  518.0   400   0  2022-12-13T09:58:09
 3       35.5         19.8         67.64  520.0   400   0  2022-12-13T09:59:09
 4       35.4         19.9         67.82  522.0   400   0  2022-12-13T10:00:09
 5       35.1         20.0         68.00  485.0   400   0  2022-12-13T10:01:09
 6       35.3         20.0         68.00  459.0   400   0  2022-12-13T10:02:09
 7       35.0         20.0         68.00  503.0   400   0  2022-12-13T10:03:09
 8       35.1         20.1         68.18  512.0   400   0  2022-12-13T10:04:10
 9       35.1         20.1         68.18  493.0   400   0  2022-12-13T10:05:10
 10      35.0         20.2         68.36  445.0   400   0  2022-12-13T10:06:10
 11      35.0         20.3         68.54  448.0   400   0  2022-12-13T10:07:10
 12      34.9         20.3         68.54  431.0   400   0  2022-12-13T10:08:10
 13      35.0         20.3         68.54  448.0   400   0  2022-12-13T10:09:10
 14      35.0         20.3         68.54  406.0   400   0  2022-12-13T10:10:10
 15      35.1         20.3         68.54  425.0   407   1  2022-12-13T10:11:10
 16      35.4         20.3         68.54  430.0   577  26  2022-12-13T10:12:10,
     Humidity  Temperature  TemperatureF    Lux  Test  Ts             DateTime
 0       35.4         20.5         68.90  427.0   400   0  2022-12-13T10:14:42
 1       35.5         20.5         68.90  414.0   400   0  2022-12-13T10:15:42
 2       35.5         20.5         68.90  433.0   400   0  2022-12-13T10:16:42
 3       35.1         20.5         68.90  478.0   400   0  2022-12-13T10:17:42
 4       35.0         20.5         68.90  461.0   400   0  2022-12-13T10:18:42
 5       34.8         20.5         68.90  451.0   405   0  2022-12-13T10:19:43
 6       35.0         20.5         68.90  449.0   400   0  2022-12-13T10:20:43
 7       34.8         20.6         69.08  483.0   400   0  2022-12-13T10:21:43
 8       35.0         20.6         69.08  527.0   400   0  2022-12-13T10:22:43
 9       34.7         20.7         69.26  462.0   403   0  2022-12-13T10:23:43
 10      35.2         20.7         69.26  468.0   409   1  2022-12-13T10:24:43
 11      34.9         20.7         69.26  494.0   417   2  2022-12-13T10:25:43
 12      35.1         20.8         69.44  523.0   417   2  2022-12-13T10:26:43
 13      34.9         20.8         69.44  545.0   400   0  2022-12-13T10:27:43
 14      34.8         20.8         69.44  541.0   401   0  2022-12-13T10:28:43
 15      35.2         20.9         69.62  537.0   408   1  2022-12-13T10:29:43
 16      35.1         20.9         69.62  517.0   400   0  2022-12-13T10:30:43
 17      35.3         20.9         69.62  485.0   422   3  2022-12-13T10:31:43
 18      35.4         20.9         69.62  484.0   400   0  2022-12-13T10:32:43
 19      35.2         20.9         69.62  487.0   400   0  2022-12-13T10:33:44
 20      34.9         20.9         69.62  560.0   425   3  2022-12-13T10:34:44
 21      35.1         21.0         69.80  554.0   408   1  2022-12-13T10:35:44
 22      35.1         21.0         69.80  534.0   400   0  2022-12-13T10:36:44
 23      34.9         21.0         69.80  469.0   417   2  2022-12-13T10:37:44,
     Humidity  Temperature  TemperatureF    Lux  Test  Ts             DateTime
 0       36.8         20.0         68.00  460.0   400   0  2022-12-12T09:52:57
 1       38.6         20.3         68.54  465.0   443   6  2022-12-12T09:54:36
 2       39.0         20.4         68.72  462.0   400   0  2022-12-12T09:54:43
 3       38.2         20.4         68.72  483.0   400   0  2022-12-12T09:55:49
 4       37.4         20.4         68.72  482.0   400   0  2022-12-12T09:55:56
 ..       ...          ...           ...    ...   ...  ..                  ...
 62      36.1         21.3         70.34  564.0   415   2  2022-12-12T10:54:39
 63      36.3         21.3         70.34  532.0   650  38  2022-12-12T10:55:39
 64      36.6         21.2         70.16  528.0   444   6  2022-12-12T10:56:39
 65      35.9         21.3         70.34  507.0   882  73  2022-12-12T11:00:06
 66      36.2         21.5         70.70  452.0   539  21  2022-12-12T11:10:07

 [67 rows x 7 columns]]

In [3]:
dfreadings.head(n=100)

    Humidity  Temperature  TemperatureF    Lux  Test  Ts             DateTime
0       36.9         21.7         71.06  484.0   415   2  2022-12-12T13:02:04
1       36.8         21.7         71.06  489.0   641  36  2022-12-12T13:03:04
2       37.6         21.8         71.24  496.0   426   3  2022-12-12T13:04:04
0       37.0         21.8         71.24  495.0   400   0  2022-12-12T13:05:31
1       36.6         21.7         71.06  493.0   432   4  2022-12-12T13:06:31
..       ...          ...           ...    ...   ...  ..                  ...
1       35.7         19.7         67.46  495.0   400   0  2022-12-13T09:57:09
2       35.5         19.7         67.46  518.0   400   0  2022-12-13T09:58:09
3       35.5         19.8         67.64  520.0   400   0  2022-12-13T09:59:09
4       35.4         19.9         67.82  522.0   400   0  2022-12-13T10:00:09
5       35.1         20.0         68.00  485.0   400   0  2022-12-13T10:01:09

[100 rows x 7 columns]

### Load HRV data

In [4]:
import pandas as pd
import os

txtfolder = r'./Data/HRV/Niek_Snijders/' #Change to your folder path

#Find the textfiles
textfiles = []
for root, folder, files in os.walk(txtfolder):
    for file in files:
        if file.endswith('.txt'):
            fullname = os.path.join(root, file)
            textfiles.append(fullname)
textfiles.sort() #Sort the filesnames

#Read each of them to a dataframe
for filenum, file in enumerate(textfiles, 1):
    if filenum==1:
        df = pd.read_csv(file, names=['RR'], delim_whitespace=True)
        date = os.path.basename(file).split(".")[0].split(" ")[0]
        time = os.path.basename(file).split(".")[0].split(" ")[1]
        split_date = date.split("-")
        split_time = time.split("-")
        df['DateTime']=split_date[2]+"-"+split_date[1]+"-"+split_date[0]+ " " + split_time[0] + ":" + split_time[1] + ":" + split_time[2]
        df['DateTime'] = pd.to_datetime(df['DateTime'])
    else:
        tempdf = pd.read_csv(file, names=['RR'], delim_whitespace=True)
        date = os.path.basename(file).split(".")[0].split(" ")[0]
        time = os.path.basename(file).split(".")[0].split(" ")[1]
        split_date = date.split("-")
        split_time = time.split("-")
        tempdf['DateTime']=split_date[2]+"-"+split_date[1]+"-"+split_date[0]+ " " + split_time[0] + ":" + split_time[1] + ":" + split_time[2]
        tempdf['DateTime'] = pd.to_datetime(tempdf['DateTime'])
        df = pd.concat([df, tempdf], ignore_index=True)

In [5]:
df.head()

    RR            DateTime
0  776 2022-11-17 15:17:06
1  758 2022-11-17 15:17:06
2  737 2022-11-17 15:17:06
3  711 2022-11-17 15:17:06
4  738 2022-11-17 15:17:06

In [6]:
def calculateHRV(df):
    array = df[["RR"]].to_numpy()
    sumOfSuccessiveDifference = 0.0
    for idx, x in enumerate(array):
        if x != array[-1]:
            sumOfSuccessiveDifference += (array[idx] - array[idx + 1])**2
    return math.sqrt(sumOfSuccessiveDifference/len(array))

In [7]:
dfHRVNiek = df.groupby(["DateTime"]).apply(lambda x: calculateHRV(x)).astype(float)

In [8]:
dfHRVNiek.head(n=20)

DateTime
2022-01-12 14:35:12    92.179360
2022-06-12 15:52:08    63.953953
2022-06-12 15:54:01    78.683995
2022-07-12 10:19:15    45.998991
2022-07-12 12:44:46    59.847481
2022-07-12 13:57:29    48.507507
2022-11-17 15:17:06    42.056698
2022-11-18 11:00:00    42.440603
2022-11-24 12:01:05    45.918517
2022-11-30 11:07:17    36.091961
2022-11-30 11:49:08    52.136928
2022-12-13 10:26:14    16.066151
dtype: float64

### Load selfreporting data

In [9]:
import pandas as pd
l = [pd.read_csv(filename) for filename in glob.glob("./data/selfreporting/*.csv")]
dfself = pd.concat(l, axis=0)

In [10]:
dfself.head(n=40)

,Air Qualityall Good,Beverage,Cloth 1,Cloth 2,Cloth 3,Cloth 4,Cloth 5,Cloth 6,Cloth 7,Duration Of Location,...,Location,Mode Of Transport,Mood,Smelly,Stuffy,Suffocating,Thermal Comfort,Thermal Preference,Timestamp,User Name
0,YES,2,NO,YES,YES,NO,NO,NO,NO,1-2 hours,...,LA Explora floor 2,1,3,NaN,NaN,NaN,5,1,2022/12/7 2022-12-07 10:42:04.299,job@email.com
1,YES,1,NO,YES,YES,NO,NO,NO,NO,more than 3 hours,...,LA402,1,3,NaN,NaN,NaN,4,2,2022/12/7 2022-12-07 13:51:00.415,job@email.com
2,YES,2,NO,YES,YES,NO,NO,NO,NO,more than 3 hours,...,LA402,1,4,NaN,NaN,NaN,5,2,2022/12/7 2022-12-07 14:04:39.307,job@email.com
3,YES,2,NO,NO,YES,NO,NO,NO,YES,more than 3 hours,...,LA222,1,4,NaN,NaN,NaN,5,1,2022/12/12 2022-12-12 13:34:15.607,job@email.com
4,YES,2,NO,NO,YES,NO,NO,NO,YES,more than 3 hours,...,LA223,1,4,NaN,NaN,NaN,5,1,2022/12/12 2022-12-12 13:42:56.603,job@email.com
5,NO,2,NO,NO,YES,NO,NO,NO,YES,more than 3 hours,...,LA223,1,4,NaN,True,NaN,5,1,2022/12/12 2022-12-12 13:56:09.337,job@email.com
6,YES,2,NO,NO,YES,NO,NO,NO,YES,more than 3 hours,...,LA223,1,4,NaN,NaN,NaN,4,1,2022/12/12 2022-12-12 14:02:44.077,job@email.com
7,YES,2,NO,NO,YES,NO,NO,NO,YES,more than 3 hours,...,LA223,1,4,NaN,NaN,NaN,4,2,2022/12/12 2022-12-12 14:11:54.980,job@email.com
8,YES,2,NO,NO,YES,NO,NO,NO,YES,more than 3 hours,...,LA223,1,3,NaN,NaN,NaN,4,2,2022/12/12 2022-12-12 14:22:24.339,job@email.com
9,NO,2,NO,NO,YES,NO,NO,NO,YES,more than 3 hours,...,LA223,1,3,NaN,True,NaN,4,1,2022/12/12 2022-12-12 14:34:48.558,job@email.com
10,NO,2,NO,NO,YES,NO,NO,NO,YES,more than 3 hours,...,LA223,1,2,NaN,True,NaN,5,1,2022/12/12 2022-12-12 14:46:16.638,job@email.com
11,NO,2,NO,YES,YES,NO,NO,NO,YES,less than an hour,...,LA Explora floor 2,1,2,NaN,True,NaN,3,2,2022/12/13 2022-12-13 10:07:18.708,job@email.com
12,YES,2,NO,YES,YES,NO,NO,NO,YES,less than an hour,...,LA Explora floor 2,1,3,NaN,NaN,NaN,4,2,2022/12/13 2022-12-13 10:31:09.011,job@email.com
13,YES,2,NO,YES,YES,NO,NO,NO,YES,less than an hour,...,LA Explora floor 2,1,3,NaN,NaN,NaN,3,2,2022/12/13 2022-12-13 10:43:31.832,job@email.com
0,YES,3,NaN,NaN,YES,NaN,NaN,NaN,YES,less than an hour,...,LA Explora floor 2,1,4,NaN,NaN,NaN,3,2,2022/12/7 2022-12-07 10:40:55.494,niek@email.com
1,YES,3,NaN,NaN,YES,NaN,NaN,NaN,YES,1-2 hours,...,LA Explora floor 2,1,4,NaN,NaN,NaN,3,2,2022/12/7 2022-12-07 12:46:35.158,niek@email.com
2,YES,3,NaN,NaN,YES,NaN,NaN,NaN,YES,more than 3 hours,...,LA402,1,4,NaN,NaN,NaN,5,2,2022/12/7 2022-12-07 14:04:53.884,niek@email.com
3,YES,3,NaN,NaN,YES,NaN,NaN,NaN,YES,less than an hour,...,LA Explora floor 2,1,3,NaN,NaN,NaN,5,2,2022/12/13 2022-12-13 10:27:47.023,niek@email.com