# Imports

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split

# Read data

In [2]:
df = pd.read_csv('final.csv')
df.head()

,DateTime,RMSSD,User Name,Air Qualityall Good,Beverage,Cloth 1,Cloth 2,Cloth 3,Cloth 4,Cloth 5,...,Location_LD106,Location_LD124,Location_LD323,Location_LD328,Humidity,Temperature,TemperatureF,Light,eCO2,TVOC
0,2022-12-12 13:28:19,30.287191,Noah@email.com,1.0,2.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.5,21.4,70.52,1106.0,530.0,19.0
1,2022-12-12 13:28:43,103.473443,job@email.com,1.0,2.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.5,21.4,70.52,1106.0,530.0,19.0
2,2022-12-12 13:31:19,25.434576,Noah@email.com,1.0,2.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.5,21.4,70.52,992.0,584.0,28.0
3,2022-12-12 13:34:52,26.282239,Noah@email.com,1.0,2.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.6,21.4,70.52,1118.0,589.0,28.0
4,2022-12-12 13:39:23,31.830500,Noah@email.com,1.0,2.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.7,21.5,70.70,1115.0,2018.0,779.0

In [3]:
df_y = df['Thermal Comfort']
df_X = df.drop(columns=['Thermal Comfort', 'DateTime', 'User Name', 'Timestamp'], axis=1)
# Remove strings because tpot does not support them

# Split the data in a train and test set with each set contains approximately the same percentage of samples of each target class as the complete set.
train_X, text_X = train_test_split(df_X, test_size=0.3, random_state=42)
train_y, test_y = train_test_split(df_y, test_size=0.3, random_state=42)

In [4]:
tpot = TPOTClassifier(generations=5, population_size=50, verbosity=2, n_jobs=-1)
tpot.fit(train_X, train_y)
tpot.score(text_X, test_y)

C:\Users\jobha\anaconda3\envs\tpot\lib\site-packages\tpot\tpot.py:67: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  self.pretest_y[0:unique_target_idx.shape[0]] = \

Optimization Progress:   0%|          | 0/300 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 0.6439024390243903

Generation 2 - Current best internal CV score: 0.6439024390243903

Generation 3 - Current best internal CV score: 0.673170731707317

Generation 4 - Current best internal CV score: 0.673170731707317

Generation 5 - Current best internal CV score: 0.673170731707317

Best pipeline: RandomForestClassifier(RobustScaler(PolynomialFeatures(input_matrix, degree=2, include_bias=False, interaction_only=False)), bootstrap=False, criterion=entropy, max_features=0.1, min_samples_leaf=8, min_samples_split=11, n_estimators=100)

C:\Users\jobha\anaconda3\envs\tpot\lib\site-packages\sklearn\metrics\_scorer.py:765: FutureWarning: sklearn.metrics.SCORERS is deprecated and will be removed in v1.3. Please use sklearn.metrics.get_scorer_names to get a list of available scorers and sklearn.metrics.get_metric to get scorer.
  warnings.warn(

0.5